LIQUIBASE_COMMAND_URL=mongodb://mongo:27017/notification
LIQUIBASE_COMMAND_CHANGELOG_FILE=changelog/db.changelog-master.xml
LIQUIBASE_COMMAND_CHANGELOG_TABLE_NAME=databasechangelog_notification
NOTIFICATION_DB_NETWORK=drp-dev_default
